@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  background-color: #f2f2f2;
  color: #333333;
  min-height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  flex-grow: 1;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.navigation-header {
  display: flex;
  padding-right: 70px;
  padding-left: 70px;
  background-color: #ffffff;
}

.header-navigation {
  display: flex;
}

.header-navigation-list {
  list-style-type: none;
  margin: 0;
  margin-left: 30px;
  padding: 0;
  width: 339px;
}

.navigation-user {
  margin-left: 285px;
  width: 88px;
}

.container {
  width: 1060px;
  margin: 0 auto;
}

.welcome-img {
  display: block;
  margin: 0 auto;
}

.main-index {
  flex-grow: 1;
}

.main-catalog {
  flex-grow: 1;
}

.hero {
  display: flex;
  margin: 0 auto;
  background-color: #000000;
  background-image: url("../images/background/index-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 82px;
}

.favorite-number {
  background-color: #7db54f;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
}

.desired-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  width: 160px;
  height: 36px;
  margin-left: auto;
  text-align: center;
  align-self: center;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advantages-text {
  box-sizing: border-box;
  width: 400px;
  height: 385px;
  padding: 85px 102px;
  text-align: center;
}

.pictures {
  display: flex;
}

.advantages {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.advantages-header {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  padding-top: 69px;
  max-width: 630px;
}

.advantages-description {
  text-align: center;
  margin-bottom: 69px;
}

.social-list {
  list-style-type: none;
}

.navigation-list-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.advantages-welcome {
  margin: 0;
  padding: 0;
  text-align: center;
}

.advantages-welcome-header {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 64px;
  max-width: 505px;
}

.advantages-welcome-description {
  margin-bottom: 64px;
}

.interested {
  margin: 0;
  text-align: center;
}

.interested h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  margin-top: 96px;
}

.subscribe {
  background-color: #000000;
  background-image: url("../images/background/subscribe-background.jpg");
  background-size: cover;
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding-top: 96px;
  padding-bottom: 104px;
}

.subscribe p {
  max-width: 475px;
  margin: 0 auto;
  margin-bottom: 54px;
}

.subscribe h2 {
  text-transform: uppercase;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.light-blue {
  background-color: rgba(131, 179, 211, 0.12);
}

.dark-blue {
  background-color: rgba(131, 179, 211, 0.2);
}

.pictures {
  background-color: #82b3d3;
  color: #ffffff;
}

.advantages-item h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: inherit;
  text-transform: uppercase;
}

.advantages-item p {
  font-size: 18px;
  line-height: 21px;
  max-width: 260px;
}

.advantages-welcome-list {
  padding: 0;
  display: flex;
  list-style-type: none;
}

.advantages-welcome-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 385px;
}

.advantages-welcome-item h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
  margin-top: auto;
}

.advantages-welcome-item p {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  margin-bottom: auto;
  max-width: 240px;
}

.button-search {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
  width: 375px;
  height: 52px;
  margin-bottom: 96px;
  border-radius: 4px;
  border: 0;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe-form input {
  width: 452px;
  height: 52px;
  font-family: inherit;
  border: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  box-sizing: border-box;
}

.subscribe-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82b3d3;
  text-transform: uppercase;
  width: 252px;
  height: 52px;
  margin: 0;
  border: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  box-sizing: border-box;
}

.main-footer {
  display: flex;
  background-color: #ffffff;
}

.footer-container {
  display: flex;
  padding-right: 70px;
  padding-left: 70px;
}

.social-item {
  width: 142px;
  margin: auto;
}

.footer-contact-number {
  width: 720px;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-align: center;
  text-decoration: none;
  margin: auto;
}

.footer-contact-logo {
  width: 115px;
  margin: auto;
}

.catalog-filter-bloc {
  background-color: #000000;
  color: #ffffff;
  background-image: url("../images/background/filter-background.jpg");
  background-size: cover;
  padding-bottom: 73px;
}

.breadcrumbs-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-catalog {
  background-color: #ffffff;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-group:nth-child(1) {
  width: 150px;
  margin-right: 70px;
}

.catalog-filter-group:nth-child(2) {
  width: 150px;
  margin-right: 140px;
}

.catalog-filter-group:nth-child(3) {
  width: 288px;
  margin-right: 70px;
}

.catalog-button-container {
  display: flex;
  flex-direction: column;
  margin-top: 56px;
}

.catalog-filter-bloc h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  padding: 0;
}

.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
  font-size: 16px;
  line-height: 21px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.catalog-filter-list {
  list-style-type: none;
  font-size: 18px;
  line-height: 23px;
}

.field-price {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  width: 143px;
}

.button-submit {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  width: 192px;
  height: 36px;
  border: 0;
  border-radius: 4px;
  color: inherit;
  background-color: #82b3d3;
  text-transform: uppercase;
}

.button-reset {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: inherit;
  background-color: transparent;
  text-transform: uppercase;
  border: 0;
}

.hotels-catalog h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  width: 338px;
  margin-top: 56px;
  margin-bottom: 46px;
}

.select-control {
  width: 292px;
  height: 49px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: transparent;
  margin: 56px 70px 48px 200px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.sorting-container {
  display: flex;
}

.card-view-container {
  display: flex;
  margin-top: 56px;
  margin-bottom: 46px;
  width: 48px;
  justify-content: space-between;
}

.hotels-catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.hotels-catalog-item {
  display: flex;
  width: 340px;
  min-height: 438px;
  padding: 20px;
  box-sizing: border-box;
  list-style-type: none;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  flex-direction: column;
}

.product-card-link {
  display: block;
  margin-bottom: 16px;
}

.hotel-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 0;
  margin-bottom: 16px;
}

.hotel-title {
  font-size: 18px;
  line-height: 21px;
}

.hotel-price {
  font-size: 18px;
  line-height: 21px;
}

.hotel-card-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  width: 140px;
  text-align: center;
}

.button-info {
  background-color: #756157;
  text-decoration: none;
}

.button-favorite {
  font-family: inherit;
  background-color: #82b3d3;
}

.button-in-favorite {
  font-family: inherit;
  background-color: #7db54f;
}

.hotel-rating {
  font-size: 16px;
  line-height: 20px;
  background-color: #f2f2f2;
  text-transform: uppercase;
  width: 140px;
  text-align: center;
}

.hotel-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.hotel-buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.hotel-rating-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}

.pagination-list {
  list-style-type: none;
  display: flex;
}

.pagination-link {
  display: flex;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82b3d3;
  width: 60px;
  height: 60px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.subscribe-catalog h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.subscribe-catalog {
  color: #000000;
  background-image: none;
  background-color: #ffffff;
  text-align: center;
}

.subscribe-form input {
  background-color: #f2f2f2;
}

.subscribe-catalog h2 {
  text-transform: uppercase;
}

.subscribe-catalog p {
  color: #333333;
}
